.images img {
  height: 200px;
  width: 100%;
  object-fit: contain;
}

.gradient {
  background: rgb(153, 122, 200);
  background: linear-gradient(93deg, rgba(153, 122, 200, 1) 28%, #f17cef 100%);
}

.btn {
  height: 60px;
  width: 170px;
  border: 2px solid #f17cef;
  border-radius: 4px;
  padding: 13px, 24px, 11px, 24px;
}
.text-gradient {
  background: -webkit-linear-gradient(#eee, #666666);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
